<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>星现场</string>
		<key>sign</key>
		<string>832bb7f9d761beac4a2ac1a8be3fb285</string>
		<key>num</key>
		<string>7</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10011</string>
		<key>name</key>
		<string>逗你为主</string>
		<key>sign</key>
		<string>12091069b760a2c48882acd65247347f</string>
		<key>num</key>
		<string>8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10008</string>
		<key>name</key>
		<string>萌物</string>
		<key>sign</key>
		<string>ff762116ed991dd0453cd1b12d43da73</string>
		<key>num</key>
		<string>8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10009</string>
		<key>name</key>
		<string>马甲线</string>
		<key>sign</key>
		<string>9479f41368a47e3c6c4da56b425d21f8</string>
		<key>num</key>
		<string>6</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10017</string>
		<key>name</key>
		<string>看镜头</string>
		<key>sign</key>
		<string>9dd23e01a573e498f993e615f6ac8575</string>
		<key>num</key>
		<string>8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10012</string>
		<key>name</key>
		<string>没事吃点</string>
		<key>sign</key>
		<string>e3790a2a11e8b25a57f92025af3bbe77</string>
		<key>num</key>
		<string>6</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10018</string>
		<key>name</key>
		<string>电影集锦</string>
		<key>New item</key>
		<string></string>
		<key>sign</key>
		<string>b9b9701b6b0a4302377026d398d65008</string>
		<key>num</key>
		<string>9</string>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>name</key>
		<string>时髦男女</string>
		<key>sign</key>
		<string>4473abaa9cfb78866a7d8aa809c09262</string>
		<key>num</key>
		<string>5</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10010</string>
		<key>name</key>
		<string>她他</string>
		<key>sign</key>
		<string>6100ef6fa239975a2d0eecaae602cb5d</string>
		<key>num</key>
		<string>4</string>
	</dict>
</array>
</plist>
